*{
    
}

html{
    font-size:14px;
    background-color:white;
}
/* typography */
/* font-family: 'Spline Sans', sans-serif; */
h1 {
    font-family: 'Spline Sans';
}

h2 {
    font-family: 'Spline Sans';
    font-size: 2.5rem;

}

h2.begin {
    font-family: 'Spline Sans';
    text-transform: uppercase;
}

h3 {
    font-family: 'Spline Sans';
    font-size: 1.5rem;
}

header, section{
    position: sticky;
    position: -webkit-sticky;
    top:0;

}
header{
    height:100vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid black;
}

section {
    overflow: scroll;
    height:100vh;
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    background-color: white;
}

section div {
    width: 50%;
    margin: 2rem;
}

section div text {
    overflow: scroll;
}

section div img{
    max-width: 100%;
    object-fit: cover;
}


@media (max-width:800px){
    section div {
        width: 66%;
    }
    
    section{
        display:flex;
        flex-direction: column;
    }
    section div img {
        max-width: 100%;
        display: flex;
        
    }
}