* {
    font-size: 14px;
    scroll-behavior: smooth;
}

html{
    font-size:14px;
    background-color: white;
}

body {
    background-color: white;
}

/* typography */
/* font-family: 'Spline Sans', sans-serif; */
h1 {
    font-family: 'Spline Sans';
    font-size: 3rem;
}

h2 {
    font-family: 'Spline Sans';
    font-size: 2.5rem;

}

h2.begin {
    font-family: 'Spline Sans';
    text-transform: uppercase;
}

h3 {
    font-family: 'Spline Sans';
    font-size: 1.75rem;
}


header{
    height: 99vh;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
}

section {
    display: flex;
    background-color: white;
    align-items: stretch;
}

section:nth-child(odd) {
    flex-direction: row-reverse;
}

section div {
    width: 50%;
    padding-bottom: 5%;
    justify-content: space-between;
}

section div h2, h3 { 
    padding: 2.5rem;
    text-align: justify;
    line-height: 1.5;
}

section div p {
    text-align: right;
}

h2.section-title{
    text-transform: uppercase;
}

h2.section-title:nth-child(odd) {
    text-align: right;
}

section div img {
    max-width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

section.cover img {
    background-image: url('./assets/history/slide10.jpg');
    background-size: cover;
    background-position: center;
}

div img {
    margin-bottom: 50%;
}

div img.rotate {
    transform: rotate(270deg);
}

@media (max-width:800px){
    section {
        display: flex;
        flex-direction: column-reverse;
    }

    section div {
        min-width: 100%;
    }

    section div img {
        max-width: 100%;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    section div h2, h3, p {
        background-color: white;
    }

    section:nth-child(odd) {
        flex-direction: column-reverse;
    }

   section:nth-child(odd) {
    position:sticky;
    position: -webkit-sticky;
    top:0;
    }

}